
/*----------------------------------------------------------
                    The Setup
----------------------------------------------------------*/
     /* Compass */
     @import "compass";
     @import "compass/css3";

     /* Foundation Settings */
     @import "settings";


/*----------------------------------------------------------
                    The Styles
----------------------------------------------------------*/

.cbl_plugin_options_wrap {
    @import "foundation/components/global";
    @import "foundation/components/grid";
    @import "foundation/components/type";
    @import "foundation/components/buttons";
    @import "foundation/components/forms";
    @import "foundation/components/section";
    @import "foundation/components/alert-boxes";
    @import "foundation/components/labels";
    @import "foundation/components/panels";
    @import "foundation/components/tables";

    padding: 3em 0;
    font-size: 14px;

    .row {
        max-width: none;
    }

    .api-key-panel, .locations-panel {
        background-color: tint( $secondary-color, 70% );
    }

    fieldset:first-child {
        padding-top: 1.25em !important;
    }

    .title a {
        cursor: move;
    }

    .button {
        @include text-shadow(none);
        &, &:hover, &:active, &:focus {
            @include background-image( none );
            height: auto;
        }
    }

    .address-wrap {
        position: relative;
    }

    .address-search-results {
        position: absolute;
        padding: 0 0.5em;
        background-color: tint( $secondary-color, 70% );
        z-index: 9;
        right: 0;
        left: 0;

        .panel {
            @include link-colors( black, black, black, black, black );
            margin: 0.2em 0;
            padding: 0.25em;
            cursor: pointer;

            &:hover {
                background-color: darken($secondary-color, 5%);
            }
        }
    }
}

.submit {
    clear: both;
}