/*
 * File: _base.scss
 * Description: Base Styles - Not dependent on device size.
 *
 */

.cbl-map {
     @import "foundation/components/global";
     @import "foundation/components/grid";
     @import "foundation/components/visibility";
     @import "foundation/components/buttons";
     @import "foundation/components/section";
     @import "foundation/components/alert-boxes";
     @import "foundation/components/labels";
     @import "foundation/components/panels";
     @import "foundation/components/tables";

     .accordion .content table {
          font-size: 14px;
     }

     #map-canvas {
          min-height: 525px;
          border: 1px solid #ccc;

          p, h1, h2, h3, h4, h5, h6 {
               font-size: 80%;
          }

          img {
               max-width: none;
          }
     }
}